*{
    margin:0;
    padding: 0;
    
    font-size: medium;
}
body{
    
    color:#F2F2F2;
    font-size: 1.3em;
    background-color: #1D1E26;
    min-width:400px;
}
nav{
    display: flex;
    justify-content: center;
    position: sticky;
    top:0;
    background: #1D1E26 !important;
    z-index: 100;
    border-bottom: 2px solid white;
   
    
    
    
}
.item a{
    font-size:150%;
}
.item {
    padding:2% 4% 2% 4%; 
}

.item:hover{
    background-color: #8C111B;
    cursor: pointer;
}
.container{
    position: relative;
    align-items: center;
    text-align: center;
    justify-content: center;
    

}
#one{
    position: absolute;
    top:35%;
    left:30%;
    max-width: 35%;
}
img{
    width: 100%;
    height: 100%;
   
    display: flex;
    background: linear-gradient(hsl(0, 5%, 19%,0.1),hsl(0, 5%, 19%,0.9));
}
i{
    position: absolute;
    top:90%;
    left:50%;
}
#bio{
    display: flex;
    flex-direction: column;
    margin: 5% 8% 10%  8%;
    align-items: center;
    font-size: 50%;
    gap:3em;
}
hr {
    background: linear-gradient(to right,( #bdbaba,0.5), (#1D1E26,0.0));
    height: 0.5px;
    
}
h1{
    text-align: center;
    font-size:200%;
}
.desc{
    display: flex;
    text-align: left;
    justify-content: center;
    flex-direction: row;
    gap:2em;

}

a{
    color:white ;
    text-decoration: none;
    
}
#namaste-img{
    width:30%;
}
.space{
    margin: 1em;
    font-size: 110%;
}
.main-class{
    display: flex;
    flex-direction: column;
    gap:1em;
    margin:2% 10% 4% 10%;
    
}

.sub-class{
    display: flex;
    justify-content: space-around;
    gap:1em;
    
    
}
.col{
    display: flex;
    padding:1em 1.5em 0.5em 1.5em;
    justify-content: center;
    align-items: center;
     gap: 1em;
    /*border:0.5px solid #13131e; */
    box-shadow:0 10px 10px 0 #13131e;
    width:33%;

}
.sub{
    min-width: 50%;
    
}
.article{
    padding-top:2%;
    font-size: 2rem;
}
#know-more{
    text-align: center;
    justify-content: center;
    margin-bottom: 3%;
}
#know-more a{
    text-decoration: underline;
}
footer{
    background: #8C111B;
    padding: 0.3% 4%;
    font-size :medium;
}
#font{
    font-size: medium;
    margin-top: 1.5%;
}
@media screen and (max-width:685px){
    #one {
        font-size:small;
        max-width:80%;
        top:35%;
        left:15%;       
    }    
    #namaste-img{
        width:40%;
    }       
    
}
@media screen and (max-width:850px) {
    .sub-class img{
        height:85%;
    }
    
}
@media screen and (max-width: 600px)
{
    .desc{
        
        margin:2% ;
        gap:0;
        flex-direction: column-reverse;
        align-items: center;
        
    }
    .sub-class{
        flex-direction: column;
    }
    .col{
        width:88%
    }

    #namaste-img{
        width:60%;
    }
}


/* .sub-class a:link {
            color: red;
        }
    
.sub-class a:visited {
            color:rgb(60, 60, 193)
        }
  
 
.sub-class a:active {
            color: white;
        } */
.sub-class a:visited {
    color: rgb(60, 60, 193) !important;
}

.sub-class a:hover  {
    color: #f12828f6 !important;
}
.sub-class a{
    color: #F2F2F2 !important;
}